<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="conexaoNorthwind" connectionString="Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="BELLPR16" connectionString="Data Source=bellini.pr16;Persist Security Info=True;User ID=BELL16;Password=BELL16;Unicode=True" providerName="System.Data.OracleClient" />
  <add name="bd_gestaoonnectionString" connectionString="server=awakeserver;User Id=ppcp;password=ppcpgpx;Persist Security Info=True;database=bd_gestao" providerName="MySql.Data.MySqlClient" />

</connectionStrings>
</configuration>
  